@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #24273a;
  --foreground: #cad3f5;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
